{% extends "base.html" %}
{% block content %}
<h2>Login</h2>
<form method="POST">
  <div class="mb-3">
      <label for="case_no" class="form-label">Application No.</label>
      <input class="form-control" placeholder="AA00ABC123" id="case_no_login" name="case_no" value="{{ case_no }}" required=required>
  </div>
  <input type="submit" class="btn btn-primary" value="Login">
</form>

<h2>Register</h2>
<form>
  <div class="mb-3">
    <label for="case_no" class="form-label">Application No.</label>
    <input class="form-control" placeholder="AA00ABC123" id="case_no" name="case_no"  value="{{ case_no }}" required=required>
  </div>
  <div class="mb-3">
      <label for="location" class="form-label">Locations</label> 
      <select id="location" name="location" class="form-select location-select" required=required>
        {%for loc in LocationList%}
            <option value="{{ loc[0] }}" {%if loc[0]==location %} selected {%endif%}>{{ loc[1] }}</option>
        {% endfor %}
      </select>
  </div>
  <div class="form-text">
    NOTE: For applicants who completed their forms prior to January 1, 2022, please put NA into the Passport and Surname fields.
  </div>
  <div class="mb-3">
    <label for="passport_number">Passport Number</label>
    <input class="form-control" placeholder="E01234567" id="passport_number" required=required>
  </div>
  <div class="mb-3">
    <label for="surname">First 5 Letters of Surname</label>
    <input class="form-control" placeholder="ZHANG" id="surname" required=required>
  </div>
  <div class="form-text">
    <b>All fields are required.</b> <br>
    The passport number and surname are encrypted by <a href="https://en.wikipedia.org/wiki/RSA_(cryptosystem)">RSA</a> and stored in the database. <br>
    It's only decrypted at the Serverless Cloud Function runtime to query your visa update. <br>
    This informaton will be deleted after your visa is issued.
  </div>
  <div class="mb-3">
  <button class="btn btn-primary" type="button" id="reg_submit">
    <span class="spinner-border spinner-border-sm" aria-hidden="true" hidden id="reg_spinner"></span>
    <span role="status">Register</span>
  </button>
  </div>
  <div class="mb-3">
    <div id="liveAlertPlaceholder"></div>
  </div>
</form>

  {%include "stat.html" %}
  <h4>Buy me a coffee.</h4>
  <div style="display: inline-block; background-color: #22AB39; padding: 30px;">
    <div style="padding: 20px; background-color: white;">
      <div id="qrcode-wechat" class="qrcode"></div>
    </div>
    <p style="width: 100%; color: white; text-align: center; margin-top: 10px; margin-bottom: 0;">By Wechat Pay</p>
  </div>
  <div style="display: inline-block; background-color: #1678FF; padding: 30px;">
    <div style="padding: 20px; background-color: white;">
    <div id="qrcode-alipay" class="qrcode"></div>
    </div>
    <p style="width: 100%; color: white; text-align: center; margin-top: 10px; margin-bottom: 0;">By AliPay</p>
  </div>
  {% endblock %}
  {% block script %}
  <script type="text/javascript">
    new QRCode(document.getElementById("qrcode-wechat"), "wxp://f2f0AaPgo9604etm4OqGeGUkKpdnvmRfXw3ZCZzBZi_2gNc");
    new QRCode(document.getElementById("qrcode-alipay"), "https://qr.alipay.com/fkx14657go56sbmhu01swe9");
    $(document).ready(function() {
      $('.location-select').select2(
        {
          theme: 'bootstrap-5',
        }
      );
    });

    const pemEncodedKey = `{{PUBLIC_KEY}}`;

    function str2ab(str) {
  const buf = new ArrayBuffer(str.length);
  const bufView = new Uint8Array(buf);
  for (let i = 0, strLen = str.length; i < strLen; i++) {
    bufView[i] = str.charCodeAt(i);
  }
  return buf;
}

    //from https://github.com/mdn/dom-examples/blob/main/web-crypto/import-key/spki.js
    async function importRsaKey(pem) {
      // fetch the part of the PEM string between header and footer
      const pemHeader = "-----BEGIN PUBLIC KEY-----";
      const pemFooter = "-----END PUBLIC KEY-----";
      const pemContents = pem.substring(
        pemHeader.length,
        pem.length - pemFooter.length - 1,
      );  
      // base64 decode the string to get the binary data
      const binaryDerString = window.atob(pemContents);
      // convert from a binary string to an ArrayBuffer
      const binaryDer = str2ab(binaryDerString);

      return await window.crypto.subtle.importKey(
        "spki",
        binaryDer,
        {
          name: "RSA-OAEP",
          hash: "SHA-256",
        },
        true,
        ["encrypt"],
      );
    }

    async function encrypt_info() {
      let pub_key = await importRsaKey(pemEncodedKey);
      let message = $('#passport_number').val() + "," + $('#surname').val();
      let enc = new TextEncoder();
      let encoded = enc.encode(message);
      let ciphertext = await window.crypto.subtle.encrypt(
      {
        name: "RSA-OAEP"
      },
      pub_key,
      encoded
      );
      let encrypted = window.btoa(String.fromCharCode(...new Uint8Array(ciphertext)));
      return encrypted;
    }

    function appendAlert(message, type) {
      const wrapper = document.createElement('div')
      wrapper.innerHTML = [
        `<div class="alert alert-${type} alert-dismissible" role="alert">`,
        `   <div>${message}</div>`,
        '   <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>',
        '</div>'
      ].join('')
      $("#liveAlertPlaceholder").append(wrapper)
    }

    async function submit_form(event) {
    var formData = {
      case_no: $("#case_no").val(),
      location: $("#location").val(),
      info: await encrypt_info(),
    };

    const xhr = new XMLHttpRequest();
    xhr.open("POST", "/register", true);
    xhr.setRequestHeader("Content-Type", "application/json");
    xhr.onreadystatechange = () => {
    if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
    let data = JSON.parse(xhr.responseText);
    if (data.status == "success") {
      window.location.href = "/detail/" + data.case_id;
    } else {
      appendAlert(data.error,"danger");
      $("#reg_submit").removeClass('disabled');
      $("#reg_spinner").attr("hidden", "hidden");
    }
    }};
    xhr.send(JSON.stringify(formData));
  }

  $("#reg_submit").click(async (event) => {
    event.preventDefault();
    $("#reg_submit").addClass('disabled');
    $("#reg_spinner").removeAttr("hidden");
    await submit_form(event)

  });
  </script>
{% endblock %}