{% extends "base.html" %}
{% block content %}
<h2>Login</h2>
<form method="POST" style="max-width: 600px;">
  <div class="mb-3">
      <label for="case_no" class="form-label">Application No.</label>
      <input class="form-control" placeholder="AA00ABC123" id="case_no_new" name="case_no" value="{{ case_no }}" required=required>
  </div>
  <input type="submit" class="btn btn-primary" value="Login">
</form>

<h2>Register</h2>
<form method="POST" style="max-width: 600px;">
  <div class="mb-3">
    <label for="case_no" class="form-label">Application No.</label>
    <input class="form-control" placeholder="AA00ABC123" id="case_no" name="case_no" value="{{ case_no }}" required=required>
  </div>
  <div class="mb-3">
      <label for="location" class="form-label">Locations (required for new case)</label> 
      <select id="location" name="location" class="form-select location-select">
        {%for loc in LocationList%}
            <option value="{{ loc[0] }}" {%if loc[0]==location %} selected {%endif%}>{{ loc[1] }}</option>
        {% endfor %}
      </select>
  </div>
  <div class="mb-3">
    <label for="passport_number">Passport Number (required for new case)</label>
    <input class="form-control" placeholder="AA00ABC123" id="passport_number" name="passport_number">
  </div>
  <div class="mb-3">
    <label for="surname">First 5 Letters of Surname</label>
    <input class="form-control" placeholder="ZHANG" id="surname" name="surname">
  </div>
  <input type="submit" class="btn btn-primary" value="Register">
</form>

  {%include "stat.html" %}
  <h4>Buy me a coffee.</h4>
  <div style="display: inline-block; background-color: #22AB39; padding: 30px;">
    <div style="padding: 20px; background-color: white;">
      <div id="qrcode-wechat" class="qrcode"></div>
    </div>
    <p style="width: 100%; color: white; text-align: center; margin-top: 10px; margin-bottom: 0;">By Wechat Pay</p>
  </div>
  <div style="display: inline-block; background-color: #1678FF; padding: 30px;">
    <div style="padding: 20px; background-color: white;">
    <div id="qrcode-alipay" class="qrcode"></div>
    </div>
    <p style="width: 100%; color: white; text-align: center; margin-top: 10px; margin-bottom: 0;">By AliPay</p>
  </div>
  <script type="text/javascript">
    new QRCode(document.getElementById("qrcode-wechat"), "wxp://f2f0P_8XQa9F4qFUtmHdEjeImSTKYx4xzmS_");
    new QRCode(document.getElementById("qrcode-alipay"), "https://qr.alipay.com/fkx14657go56sbmhu01swe9");
    $(document).ready(function() {
      $('.location-select').select2();
    });
    </script>


{% endblock %}