body {
    padding:0;
    margin:0;
    font-family:open sans,helvetica neue,Helvetica,Arial,sans-serif;
    font-size:16px;
    line-height:1.5;
    color:#606c71
   }
   .page-header {
    color:#fff;
    text-align:center;
    background-color:#159957;
    background-image:linear-gradient(120deg,#155799,#159957)
   }
   @media screen and (min-width:64em) {
    .page-header {
     padding:5rem 6rem
    }
   }
   @media screen and (min-width:42em) and (max-width:64em) {
    .page-header {
     padding:3rem 4rem
    }
   }
   @media screen and (max-width:42em) {
    .page-header {
     padding:2rem 1rem
    }
   }

   .project-name {
    margin-top:0;
    margin-bottom:.1rem
   }
   @media screen and (min-width:64em) {
    .project-name {
     font-size:3.25rem
    }
   }
   @media screen and (min-width:42em) and (max-width:64em) {
    .project-name {
     font-size:2.25rem
    }
   }
   @media screen and (max-width:42em) {
    .project-name {
     font-size:1.75rem
    }
   }
   .project-tagline {
    margin-bottom:2rem;
    font-weight:400;
    opacity:.7
   }
   @media screen and (min-width:64em) {
    .project-tagline {
     font-size:1.25rem
    }
   }
   @media screen and (min-width:42em) and (max-width:64em) {
    .project-tagline {
     font-size:1.15rem
    }
   }
   @media screen and (max-width:42em) {
    .project-tagline {
     font-size:1rem
    }
   }
   .main-content {
    word-wrap:break-word
   }
   .main-content {
    word-wrap:break-word
   }
   .main-content :first-child {
    margin-top:0
   }
   @media screen and (min-width:64em) {
    .main-content {
     max-width:64rem;
     padding:2rem 6rem;
     margin:0 auto;
     font-size:1.1rem
    }
   }
   @media screen and (min-width:42em) and (max-width:64em) {
    .main-content {
     padding:2rem 4rem;
     font-size:1.1rem
    }
   }
   @media screen and (max-width:42em) {
    .main-content {
     padding:2rem 1rem;
     font-size:1rem
    }
   }
   .main-content > h1,
.main-content > h2,
.main-content > h3,
.main-content > h4,
.main-content > h5,
.main-content > h6 {
 margin-top:2rem;
 margin-bottom:1rem;
 font-weight:400;
 color:#159957
}

.site-footer {
    padding-top:2rem;
    margin-top:2rem;
    border-top:solid 1px #eff0f1
   }
   @media screen and (min-width:64em) {
    .site-footer {
     font-size:1rem
    }
   }
   @media screen and (min-width:42em) and (max-width:64em) {
    .site-footer {
     font-size:1rem
    }
   }
   @media screen and (max-width:42em) {
    .site-footer {
     font-size:.9rem
    }
   }
   .site-footer-owner {
    display:block;
    font-weight:700
   }
   .site-footer-credits {
    color:#819198
   }
   a {
    color:#1e6bb8;
    text-decoration:none
   }
   a:hover {
    text-decoration:underline
   }
   .qrcode img {
    height: 200px; 
    width: 200px;
  }