<!DOCTYPE html>
<html lang="en-US">
  <head>
  <meta charset="UTF-8">

<title>CEAC Stat Tracker </title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="/static/style.css">
  </head>
  <body>
    <script src="/static/qrcode.js"></script>
    <header class="page-header" role="banner">
      {% block head %}
      <h1 class="project-name"> CEAC Stat Tracker</h1>
      <h2 class="project-tagline">Automatically check your Visa case every 6 hours and push updates to your wechat</h2>
      {% endblock %}
    </header>
    
    <main id="content" class="main-content" role="main">

{% with messages = get_flashed_messages() %}
{% if messages %}
        <div class="highlight">
          <ul class=flashes>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
            </ul>
        </div>
    {% endif %}
    {% endwith %}

    {% block content %}
    {% endblock %}
      <footer class="site-footer"></footer>
          <span class="site-footer-owner"><a href="https://github.com/pages-themes/cayman">cayman</a> is maintained by <a href="https://github.com/pages-themes">pages-themes</a>.</span>
        </footer>
    </main>
  </body>
</html>
