{% extends "base.html" %}
{% block content %}

<p>{{ case.case_no }}</p>
<p>{{ case.location }}</p>
{% if case.last_update %}
last_update
<p>{{ case.last_update.status }}</p>
<p>{{ case.last_update.status_date }}</p>
{% endif %}
<p>{{ case.created_date }}</p>
<p>{{ case.expire_date }}</p>

<ul>
{% for x in record_list %}
    <li> {{x.status}} {{x.status_date}}</li>
{% endfor %}
</ul>

<form method="POST">
<input type="hidden" name="act" value="renew">
<input type="submit" value="renew +7 days">
</form>

<form method="POST">
<input type="hidden" name="act" value="delete">
<input type="submit" value="delete" onclick="return confirm('Are you sure?')" >
</form>

<p>{{case.qr_code_url}}</p>

<div id="qrcode"></div>
<script type="text/javascript">
new QRCode(document.getElementById("qrcode"), "{{case.qr_code_url}}");
</script>

{% endblock %}