{% extends "base.html" %}
{% block content %}

<form  method="POST">

      <h3> <label for="case_no">Application No.</label> </h3>
      <input placeholder="AA00ABC123" id="case_no" name="case_no" value="{{ case_no }}" required=required>

      <h3> <label for="location">Locations (required for new case)</label> </h3>
      <select id="location" name="location">
        {%for loc in LocationList%}
            <option value="{{ loc[0] }}" {%if loc[0]==location %} selected {%endif%}>{{ loc[1] }}</option>
        {% endfor %}
      </select>
      <h3>It will take about 3 seconds, don't re-click.</h3>
      <input type="submit" value="Submit">

</form>

{% endblock %}