{% extends "base.html" %}
{% block content %}

<form  method="POST" style="max-width: 500px;">
  <div class="mb-3">
      <label for="case_no" class="form-label">Application No.</label>
      <input class="form-control" placeholder="AA00ABC123" id="case_no" name="case_no" value="{{ case_no }}" required=required>
  </div>
  <div class="mb-3">
      <label for="location" class="form-label">Locations (required for new case)</label> 
      <select id="location" name="location" class="form-select">
        {%for loc in LocationList%}
            <option value="{{ loc[0] }}" {%if loc[0]==location %} selected {%endif%}>{{ loc[1] }}</option>
        {% endfor %}
      </select>
      <p class="form-text">It will take about 3 seconds, don't re-click.</p>
      <input type="submit" class="btn btn-primary" value="Submit">
</form>

{% endblock %}